body{
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    
    margin:0;
    
}
h1,h2{
    text-align: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    font-family: "Poppins", sans-serif;
}
.navlinks{
    display: flex;
    justify-content: center;
    gap: 4rem;
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    margin-top: 1rem;
    
}
.navlinks a{
    text-decoration: none;
    color: #555555;
}
.navlinks a:hover{
    color: #2DB84C
}
.logo{
    font-family: "Poppins", sans-serif;
    margin-left: 4rem;
    font-size: 1.3rem;
    padding-top: 0.5rem;
    
}
.title{
    height: 15rem;
}
.profile-text h1{
    color: #2DB84C;
    font-size: 4.2rem;
    font-weight: 500;
    
}
.white{
    color: #555555;
    font-weight: 200;
}
.button1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button1 .trackbutton{
    background-color: #2DB84C;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1.1rem 3rem;
    border-radius: 10px;
    margin-bottom: 5.1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent ;
    
    
}
.trackbutton:hover{
    background-color:#18a12f;
    color: white;
}
.about h1 {
    padding-bottom: 5rem;
    font-size: 4rem;
    
    text-align: center;
    font-weight: 600;
  }
  .project-sec{
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .project-sec .cards{
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 0 1rem;
      height: 21rem;
      width: 18rem;
      background-color: #F0FDF8;
      transition: all 0.3s ease;
      position: relative;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgba(99, 99, 99, 0.3);
      display: inline-block;
      text-align: center;
      justify-content: space-around;
      border: 2px solid transparent;
  }
  .cards:hover{
    border: 2px rgb(100, 228, 95) solid;
  }
  .about{
    padding-top: 4rem;
  }
  .cards img{
    width: 97%;
    height: 6rem;
    object-fit:fill;
    margin-top: 2rem;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.0);
  }
  .cards-img{
    
    
  }
  .cards:hover img {
    transform: scale(1.1);
    
  }
  .cards-info{
    
    font-size: 1.3rem;
  }
  .cards-info p{
    font-size: 0.9rem;
    
    font-weight: 400;
  }
  
 .expenses-list{
    height: 80vh;
 }
.form h1{
    font-size: 4rem;
    padding-top: 3rem;
    color: #2DB84C;
    font-weight: 500;
}
.input-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
#category_select {
    width: 15rem;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* Change the background color if needed */
    color: #333; /* Change the text color if needed */
    font-size: 16px; /* Adjust the font size if needed */
}
.input-section label{
    font-weight: bold;
    margin-right: 10px;
}
.input-section input{
    padding: 10px;
    margin-right: 10px;
}
.input-section button{
    padding: 1rem 3rem;
    background-color: #2DB84C;
    color:white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.input-section button:hover{
    background-color: #35d357;
}
.expenses-list{
    margin: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #8f8d8d;
    padding: 8px;
    text-align: left;;
}
th{
    background-color: #38e75e;
    color:black;
}
tfoot td{
    font-weight: bold;
}
.delete-btn{
    padding: 5px 10px;
    background-color: rgb(198, 69, 69);
    color: rgb(240, 233, 233);
    border:none;
    border-radius: 4px;
    cursor:pointer;
}